@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    cursor: none;
}

a{
    text-decoration: none;
    color: #fff;
}

svg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }

/* Cuerpo */

body{ 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
background-color: #e9e3e3;
}

/* Footer */
footer {
    z-index: 2;
  opacity: 0.8;
  padding: 15px;
  border-radius: 0px;
    background: #2C2C2C;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }


/* Header */

.header h4{
  margin-right: 10px;
  margin-top: 15px;
  position: relative;
  display: flex;
  float: right;
}


.header header{
    z-index: 2;
  opacity: 0.8;
  padding: 15px;
  border-radius: 0px;
    background: rgba(28, 30, 34);
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 999px;
    top: 0;
    left: 0;
    margin-bottom: 100px;
}

.header header a{
    margin-left: 10px;
    margin-right: 20px;
}

.header nav{
    float: left;
}

.header nav ul{
    list-style: none;
    overflow: hidden;
}

.header nav ul li{
    float: left;
    font-size: 20px;
}

.header nav ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
}

.header nav ul li:hover{
    background: #b884fc;
}

.header li img{
  height: 40px;
}


/* Cuadro de texto */

.cuadro{
    z-index: 2;
  opacity: 0.8;
  padding: 15px;
  border-radius: 15px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height: 500px;
    width: 1000px;
    border: 5px solid;
    background-color: #2C2C2C;
}

/* Texto */

.cuadro h2, h3, h4{
    color: #fff;
}

.cuadro h4{
    margin-top: 20px;
}

.cuadro h2{
    text-align: center;
    margin-top: 20px;
}

.cuadro .lenguajes h2{
  text-align: left;
  text-decoration: underline;
  margin-top: 30px;
}

.contacto .lenguajes li{
  color: #fff;
  text-decoration: none;
  margin-top: 10px;
}


.cuadro .hobbies h2{
  text-decoration: underline;
  text-align: left;
  margin-top: 30px;
}

.cuadro .hobbies h4{
  margin-top: 10px;
}

/* Email */

.contacto{
  z-index: 2;
  opacity: 0.8;
  padding: 15px;
  border-radius: 15px;
  margin-top: 700px;
  background-color: #2C2C2C;
}

.contacto h4{
  text-align: center;
}


/* Fondo */

.titulo {
    z-index: 2;
    background: #FFF;
    opacity: 0.8;
    padding: 15px;
    border-radius: 15px;
  }
  
  .titulo h1 {
    font-size: 2rem;
  }
  
  svg {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  
  @keyframes girarIzquierda {
    100% {
        transform: rotate(-360deg);
    }
  }
  
  @keyframes girarDerecha {
    100% {
        transform: rotate(360deg);
    }
  }
  
  .Morado {
    animation: girarIzquierda 40s linear infinite;
    transform-origin: 13px 25px;
  }
  
  .Violeta {
    animation: girarDerecha 20s linear infinite;
    transform-origin: 13px 25px;
  }
  
  .azul {
    animation: girarDerecha 25s linear infinite;
    transform-origin: 84px 93px;
  }
  
  .Morado-Claro {
    animation: girarIzquierda 35s linear infinite;
    transform-origin: 84px 93px;
  }

/* Cursor */

  @media (any-pointer: fine) {
    .c-cursor {
      display: block;
    }
    
    .c-cursor__inner {
      pointer-events: none;
      position: absolute;
      top: 0;
      left: 0;
      mix-blend-mode: difference;
      border-radius: 50%;
      z-index: 50;
    }
    
    .c-cursor__side {
      position: absolute;
      top: 50%;
      width: 5px;
      height: 1px;
      background: #fff;
      opacity: 0;
    }
    
    .c-cursor__side--left {
      right: calc(100% + 5px);
    }
    
    .c-cursor__side--right {
      left: calc(100% + 5px);
    }
    
    .c-cursor__inner--circle {
      width: 25px;
      height: 25px;
      border: 1px solid #fff;
    }
  }
  
  .links-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    .link {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 3px solid #fff;
      padding: 20px 40px;
      transition: all 300ms ease-in-out;
      margin: 0 15px;
      
      &:hover {
        background: #fff;
        color: #000;
      }
    }
  }
  
 
  .ham {
    user-select: none;
    border: 2px solid color-link;
    border-radius: 50%;
    transition: border-radius 300ms ease-in-out;
  }
  
  .hamRotate.active {
    transform: rotate(45deg);
  }
  
  .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: color-link;
    stroke-width: 5.5;
    stroke-linecap: round;
  }
  
  .ham1 {
    .top {stroke-dasharray: 40 139;}
    .bottom{stroke-dasharray: 40 180;}
    
    .active {
      .top {stroke-dashoffset: -98px;}
      .bottom {stroke-dashoffset: -138px;}
    }
  }
  
  
